@inject IPokemonService PokemonService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazingPokemon</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if(regions is not null)
        {
            foreach (var region in regions)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"/region/{region.Id}")>
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @region.Name
                    </NavLink>
                </div>
            }
        }        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    List<Region>? regions;

    protected override async Task OnInitializedAsync()
    {
        regions = PokemonService.GetRegions();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
