@page "/"
@using System.Security.Cryptography
@inject IPokemonService PokemonService

<PageTitle>Home</PageTitle>

<h1>Welcome to Blazing Pokémon</h1>

Select a region from the menu to view Pokémon.

<br />
<br />

<PokemonDetails Id="randomId"></PokemonDetails>

@code {
    private Pokemon? pokemon;
    private int randomId;

    protected override void OnInitialized()
    {
        randomId = RandomNumberGenerator.GetInt32(1, 898);
    }
}