.pokemon {
    &__container {
        background-color: #dbdbdb;
        padding: 1rem;
        border-radius: 10px;
        max-width: 30rem;
        display: grid;

        @media only screen and (min-width: 37.5rem) {
            min-width: 30rem;
        }
    }

    &__header {
        text-align: center;
    }

    &__details {
        display: grid;
        row-gap: 1rem;
    }

    &__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img {
            width: 11rem;
        }
    }

    &__types {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        .label {
            color: rgb(0, 0, 0);
            padding: 0.5rem;
            border-radius: 10px;
            text-align: center;
        }
    }

    &__stats {

        ul {
            display: grid;
            gap: 0.5rem;

            @media only screen and (max-width: 37.5rem) {
                justify-content: center;

                li {
                    min-width: 110%;
                }
            }
        }

        .stats-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            border-radius: 5rem;
        }
    }

    &__evolutions {
        @media only screen and (min-width: 37.5rem) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .evolutions-component {
            text-align: center;
        }

        .evolution {

            &__container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            &__pokemon {
                cursor: pointer;
            }
        }
    }
}
