.region__title {
  text-align: center;
}
.region__grid {
  display: grid;
  margin-top: 1rem;
  justify-content: space-around;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: repeat(3, auto);
}
.region__card {
  flex-direction: column;
  padding: 0.5rem;
  min-height: 3rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.region__card-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1rem;
  margin: 0.25rem;
  justify-content: space-around;
  align-items: center;
}
.region__card-image {
  width: 150px;
}
