.region {

    &__title {
        text-align: center;
    }

    &__grid {
        display: grid;
        justify-content: space-around;
        justify-items: center;
        gap: 0.625rem;
        grid-template-columns: auto;
    }

    &__card {
        display: flex;
        gap: 0.5rem;
        min-width: 250px;
        padding: 0.5rem;
        border-radius: 10px;
        cursor: pointer;

        &-name {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            margin: 0.25rem;
            align-items: center;

            .title {
                font-size: 1rem;
                margin-bottom: 0;
                font-weight: 700;
            }
        }

        &-image {
            width: 50px;
        }

        &-desc {
            display: none;
        }
    }

    @media only screen and (min-width: 37.5rem) {
        &__grid {
            grid-template-columns: repeat(2, auto);
            gap: 1rem;
        }

        &__card {
            display: grid;
            gap: normal;
            min-width: 10rem;

            &-image {
                width: 150px;
                grid-row: 2/3;
            }

            &-desc {
                display: inline;
                text-align: center;
            }
        }
    }

    @media only screen and (min-width: 43.125rem) {
        &__grid {
            grid-template-columns: repeat(3, auto);
        }
    }

    @media only screen and (min-width: 97.5rem) {
        &__grid {
            grid-template-columns: repeat(6, auto);
        }
    }
}
