.region__title {
  text-align: center;
}
.region__grid {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  gap: 0.625rem;
  grid-template-columns: auto;
}
.region__card {
  display: flex;
  gap: 0.5rem;
  min-width: 250px;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.region__card-name {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0.25rem;
  align-items: center;
}
.region__card-name .title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 700;
}
.region__card-image {
  width: 50px;
}
.region__card-desc {
  display: none;
}
@media only screen and (min-width: 43.125rem) {
  .region__grid {
    grid-template-columns: repeat(2, auto);
  }
  .region__card {
    display: grid;
    gap: normal;
    min-width: 10rem;
  }
  .region__card-image {
    width: 150px;
    grid-row: 2/3;
  }
  .region__card-desc {
    display: inline;
    text-align: center;
  }
}
@media only screen and (min-width: 56.25rem) {
  .region__grid {
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (min-width: 97.5rem) {
  .region__grid {
    grid-template-columns: repeat(6, auto);
  }
}
